---
import HeaderScreen from "../components/HeaderScreen.astro";
import Form from "../components/Form.astro";
import contactPage from "../data/contact-data";
import BaseLayoutAlt from "../layouts/BaseLayoutAlt.astro";

const { data } = contactPage;
---

<BaseLayoutAlt
  siteTitle={data.pageTitle}
  siteDescription={data.pageDescription}
  keywords={data.pageKeywords}
>
  <HeaderScreen content={data.header} />
  <div id="contact"></div>
  <Form content={data.info} />

  <script src="../scripts/emailValidation.js"></script>
</BaseLayoutAlt>
