---
import ImageComp from "./ImageComp.astro";

const { data } = Astro.props;
---

<section
  class="pt-12 lg:pt-24 pb-12 flex flex-col justify-center items-center align-middle bg-gradient-to-b from-white to-accent-100"
>
    <div class="py-24 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-5">
        <div class="col-span-2">
            <p class="text-base font-semibold leading-7 text-accent-300 uppercase">{data.data.benefits.upperHeading}</p>
            <h2 class="mt-0 text-3xl font-bold tracking-tight text-muted-700 sm:text-4xl">{data.data.benefits.heading}</h2>
            <p class="mt-6 text-base/7 text-muted-700">{data.data.benefits.description}</p>
        </div>
        <dl class="col-span-3 grid grid-cols-1 gap-x-8 gap-y-10 text-base/7 text-gray-600 sm:grid-cols-2 lg:gap-y-16">
            {
                data.data.benefits.advantages.map((advantage) => (
                    <div class="relative pl-9">
                        <dt class="font-semibold text-gray-900">
                            <svg class="absolute top-1 left-0 size-5 text-accent-300" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                            <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" />
                            </svg>
                            <p class="font-semibold text-muted-900">
                                {advantage.title}
                            </p>
                        </dt>
                        <dd class="mt-2">
                            <p>{advantage.description}</p>
                        </dd>
                    </div>
                ))
            }
        </dl>
        </div>
    </div>
    </div>

</section>
