---
import { Image } from "astro:assets";
import type { ImageMetadata } from "astro";

const { content } = Astro.props;
const styles = Astro.props.styleClass || null;
const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/*.{jpeg,jpg,png,gif,webp}",
);
if (!images[content.imagePath]) {
  throw new Error(
    `"${content.imagePath}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif,webp}"`,
  );
}
---

<section
  class={styles
    ? styles
    : `relative lg:mt-0 min-h-[80vh] bg-accent-300/10 text-white flex flex-col items-center justify-center overflow-hidden`}
>
  <Image
    src={images[content.imagePath]()}
    alt={content.imageAlt}
    width={1920}
    loading={"eager"}
    fetchpriority="high"
    class="absolute inset-0 -z-0 object-cover object-center w-full h-full animate-slow-zoom max-h-[1315px]"
    widths={[240, 540, 720, 1080, 1440, 1980]}
    sizes={`(max-width: 240px) 240px, (max-width: 540px) 540px, (max-width: 720px) 720px, (max-width: 1080px) 1080px, (max-width: 1440px) 1440px, 1920px`}
  />
  <div class="absolute bg-accent-600/60 w-full h-full z-0"></div>
  <!-- Text -->
  <div
    class="text-white mt-20 lg:mt-0 text-center lg:text-left z-10 flex flex-col items-center gap-4 px-5 h-full lg:pt-28 justify-center pb-4"
  >
    <h1
      class="text-3xl px-4 uppercase italic md:text-6xl lg:text-7xl drop-shadow-lg xl:text-8xl text-center font-black lg:tracking-wide text-gray-100 text-pretty"
      set:html={content.headerH1}
    />
    <h2
      class="text-xs lg:text-xl mt-3 tracking-wide text-center max-w-4xl italic text-pretty px-4"
      set:html={content.paragraph}
    />
    <div
      class="mt-6 flex flex-wrap justify-center align-middle items-center gap-6 z-10"
    >
      {
        content.buttons.map((btn) => (
          <a
            href={btn.link}
            target={`${btn.link.includes("http") ? "_blank" : "_self"}`}
            class={`${btn.primary ? "btn-primary" : "btn-accent"} w-full md:w-auto`}
          >
            {btn.name}
          </a>
        ))
      }
    </div>
  </div>
</section>
