---
import ImageComp from "./ImageComp.astro";

const { content } = Astro.props;
---

<section
  id={content.heading}
  class="bg-gradient-to-b from-muted-50 to-primary-100 py-20 flex justify-center align-middle items-center"
>
  <div>
    <div class="w-full lg:mx-0 text-center mb-16">
      {
        content.upperHeading && (
          <h3 class="mx-auto mt-12 uppercase text-lg lg:text-xl font-sans font-bold tracking-tight text-accent-300">
            {content.upperHeading}
          </h3>
        )
      }
      {
        content.heading && (
          <h2 class="mx-auto px-5 lg:px-0 mb-3 text-3xl lg:text-5xl font-sans font-bold tracking-tight text-primary-800">
            {content.heading}
          </h2>
        )
      }
      {
        content.descriptions && (
          <div class="max-w-4xl mx-auto px-4 lg:px-0">
            {content.descriptions.map((p) => (
              <p
                class="mx-auto mb-4 text-lg tracking-loose leading-relaxed text-muted-700"
                set:html={p}
              />
            ))}
          </div>
        )
      }
    </div>
    {
      content.steps && (
        <div class="max-w-6xl">
          {
            content.steps.map((step, index) => (
              <div
                class={`relative mt-12 flex flex-wrap justify-center gap-8 lg:gap-0 items-center align-middle`}
              >
                <div class="pt-12 lg:pt-10 flex flex-col justify-center align-middle items-center w-full lg:w-1/2">
                  <h3
                    class={`${index % 2 ? "right-2" : "left-2"} top-2 absolute font-sans text-sm bg-accent-300 rounded-md py-2 px-5 font-semibold text-accent-100 -z-0`}
                  >
                    Step {index + 1}
                  </h3>
                  <div
                    class={`${index % 2 ? "lg:text-left lg:pl-6" : "lg:text-right lg:pr-6"} px-3 text-center z-10`}
                  >
                    <a href={step.link} target="_blank" class="hover:text-accent-500 duration-100">
                      <h3 class="text-3xl md:text-3xl mb-4 font-bold tracking-tight text-main-red">
                        {step.title}
                      </h3>
                    </a>

                    {step.paragraphs.map((par) => (
                      <p
                        class="text-base mb-2 font-sans2 text-gray-800"
                        set:html={par}
                      />
                    ))}
                  </div>
                </div>
                <div
                  class={`${index % 2 === 0 ? "lg:order-none" : ""} order-first lg:rounded-md shadow-md aspect-square md:aspect-video lg:aspect-square overflow-hidden w-full lg:w-1/2`}
                >
                  <ImageComp
                    styles="object-cover w-full h-full"
                    imagePath={step.imagePath}
                    imageAlt={step.imageAlt}
                  />
                </div>
              </div>
            ))
          }
        </div>
      )
    }
    <div class="mt-16 px-5 lg:px-0">
      <p
        class="text-center mx-auto font-medium text-xl max-w-5xl"
        set:html={content.finalParagraph}
      />
      {
        content.finalButton && (
          <div class="mt-6 flex flex-wrap justify-center w-full align-middle items-center gap-6 z-10">
            <a
              href={content.finalButton.link}
              class={`${content.finalButton.primary ? "btn-accent" : "btn-white"} w-full md:w-auto`}
            >
              {content.finalButton.name}
            </a>
          </div>
        )
      }
    </div>
  </div>
</section>